
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Finansowy Menadżer Budżetu</h1>
    <p>Witaj w Finansowym Menadżerze Budżetu - Twoim wsparciu w zarządzaniu finansami! Nasza aplikacja umożliwia śledzenie wydatków, oraz efektywną archiwizację dokumentów, abyś mógł skoncentrować się na osiąganiu swoich celów finansowych.</p>
</div>

<h2>Statystyki portalu</h2>

<p>Wszystkich transakcji: @ViewBag.TotalTransactions</p>
<p>Wgranych dokumentów: @ViewBag.TotalDocuments</p>
<p>Łączny obrót: @ViewBag.TotalAmount</p>
<div>
    <canvas id="transactionsChart" width="800" height="400"></canvas>
</div>
@section scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script>
        var chartData = @Html.Raw(Json.Serialize(ViewBag.ChartData));

        // Jeśli ViewBag.ChartData nie zawiera poprawnych danych, sprawdź, czy są one przekazywane poprawnie z kontrolera.

        var labels = chartData.map(item => new Date(item.date).toLocaleDateString());
        var dataValues = chartData.map(item => item.transactionCount);

        var ctx = document.getElementById('transactionsChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Ilość transakcji danego dnia',
                    data: dataValues,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        labels: labels,
                        ticks: {
                            source: 'auto',
                            autoSkip: true
                        }
                    }
                    ,
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1 // Ustaw krok na osi Y na 1
                        }
                    }
                }
            }
        });
    </script>
}
